/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.
Make sure to learn what the starter code does!!
*/

body{
  color: black;
  font-family: 'Andika', sans-serif;
  font-size: 16px;
  margin: 1.2em;
  background-size: cover ;
  background-position: center;
  background-image: url("../images/pigeon-background.jpg");
  background-repeat: no-repeat;
  background-color: #dddddd;

}

main{
  margin-bottom: 100px;
}

h1{
  color: #8000FF;
  font-size: 2em;
  line-height: 1.5;
  text-align: center;
}

caption{
  margin:5px 0px;
}

p{
  color: black;
  font-size: 16px;
  padding-top: 10px; 
}


a:link {
  font-size: 16px;
  color: #b92751;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

table{
  border: 2px solid black;
  text-align: center;
  margin: 0 auto;
  border-radius: 15px;
  border-collapse: separate;
}

thead tr:first-child th:first-child{
  border-top-left-radius: 15px;
}

thead tr:first-child th:last-child{
  border-top-right-radius: 15px ;
}

tbody tr:last-child th:first-child{
  border-bottom-left-radius: 15px;
}

tbody tr:last-child td:last-child{
  border-bottom-right-radius: 15px;
}

.colhead{
  background-color: #7e0820;
  color: white;
  min-width: 100px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

td{
  padding: 15px;
  border-top: 2px solid black;
}

.rowhead{
  border-top: 2px solid black;
}

tr:nth-child(even){
  background: transparent;
}

tr:nth-child(odd){
  background: #d1d1d1;
}

tbody tr:hover{
  background-color: rgb(126,8,32);
  opacity: .5;
}

*:focus {
  border: 2px solid black;
} 


footer{
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  background:black;
  text-align:center;
  min-height: 60px;
}
footer p{
  color: white;
}